
# Created by https://www.gitignore.io/api/vvvv
# Edit at https://www.gitignore.io/?templates=vvvv

### VVVV ###

# .v4p backup files
*~.xml

# Dynamic plugins .dll
bin/

# End of https://www.gitignore.io/api/vvvv
